<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <title>Speaker Recognition Tool</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style_refact.css">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    

</head>
<body>

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="../static/voice-recognition.png" alt=""/>

            <h3>Speaker Recognition</h3>

        </div>
        <div class="col-md-9 register-right">

            <div class="row justify-content-md-center" style="align-items: center;justify-content: center;">

                <div class="row justify-content-md-center" style="align-items: center;justify-content: center;">
                <h3 class="text-center">Ciao {{username}}. <br> sei stato correttamente registrato!</h3>
                </div>
                <div class="row justify-content-md-center" style="align-items: center;justify-content: center;width: 100%;">
                <img src="../static/correctv.png" style="padding-bottom: 50px;padding-top: 50px;">
                </div>
                <a class="btn btn-primary" href="https://excl-srv-b01.di.unisa.it" role="button" style="color: white;">Torna alla home</a>
		


            </div>

        </div>
    </div>

</div>

</body>
</html>


